**/*.aux
**/*.log
**/*.toc
**/*.run.xml
**/*.pdf
**/*.out
**/*.lot
**/*.blg
**/*.bcf
**/*.bbl
**/*.lof
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk
**/*.bbl-SAVE-ERROR
**/*.bcf-SAVE-ERROR

data_processing/venv